<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wry.foodie.mapper.ItemsMapper">
    <resultMap id="BaseResultMap" type="com.wry.foodie.pojo.Items">
        <!--@mbg.generated-->
        <!--@Table items-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="item_name" jdbcType="VARCHAR" property="itemName"/>
        <result column="cat_id" jdbcType="INTEGER" property="catId"/>
        <result column="root_cat_id" jdbcType="INTEGER" property="rootCatId"/>
        <result column="sell_counts" jdbcType="INTEGER" property="sellCounts"/>
        <result column="on_off_status" jdbcType="INTEGER" property="onOffStatus"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, item_name, cat_id, root_cat_id, sell_counts, on_off_status, content, created_time,
        updated_time
    </sql>

    <resultMap id="searchItemsVOResultMap" type="com.wry.foodie.pojo.vo.SearchItemsVO">
        <result column="itemId" jdbcType="VARCHAR" property="itemId"/>
        <result column="itemName" jdbcType="VARCHAR" property="itemName"/>
        <result column="sellCounts" jdbcType="VARCHAR" property="sellCounts"/>
        <result column="imgUrl" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
    </resultMap>
    <select id="searchItems" resultMap="searchItemsVOResultMap">
        SELECT i.id          AS itemId,
               i.item_name   AS itemName,
               i.sell_counts AS sellCounts,
               ii.url        AS imgUrl,
               t.price
        FROM items AS i
                     LEFT JOIN items_img AS ii ON ii.item_id = i.id AND ii.is_main = 1
                     LEFT JOIN (
                SELECT item_id,
                       MIN(price_discount) AS price
                FROM items_spec
                GROUP BY item_id
                ) AS t ON t.item_id = i.id
                ${ew.customSqlSegment}
    </select>
</mapper>